<!-- footer -->
<div class="footer_top_agileits">
  <div class="container">
    <div class="row foot-lft">
      <div class="col-lg-4 footer_grid">
        <h3>About Us</h3>
        <p>The purpose of information and a variety of new ones.
          To keep the student updated all-time
          For information on different types of exams.
        </p>
      </div>
      <div class="col-lg-4 footer_grid">
        <h3>Latest News</h3>
        <ul class="footer_grid_list">
          <li><span class="fa fa-long-arrow-right" aria-hidden="true"></span>
            <a href="services.html">The purpose of information & a variety of new ones </a>
          </li>
          <li><span class="fa fa-long-arrow-right" aria-hidden="true"></span>
            <a href="services.html"> To keep the student updated all-time </a>
          </li>
          <li><span class="fa fa-long-arrow-right" aria-hidden="true"></span>
            <a href="services.html">To keep up to date al all times . </a>
          </li>
          <li><span class="fa fa-long-arrow-right" aria-hidden="true"></span>
            <a href="services.html">Dolor amet sed quam vitae</a>
          </li>
          <li><span class="fa fa-long-arrow-right" aria-hidden="true"></span>
            <a href="services.html">For information on diff. types of exams. </a>
          </li>
        </ul>
      </div>
      <div class="col-lg-4 footer_grid">
        <h3>Contact Info</h3>
        <ul class="address">
          <li><span class="fa fa-map-marker" aria-hidden="true"></span>Aya Nagar Phase 1, New Delhi, INDIA.</li>
          <li><span class="fa fa-envelope" aria-hidden="true"></span><a
              href="mailto:info@example.com">info@example.com</a></li>
          <li><span class="fa fa-phone" aria-hidden="true"></span>+91 9455733577</li>
        </ul>
      </div>
    </div>
   
  </div>
</div>
<div class="footer_w3ls">
  <div class="container">
    <div class="footer_bottom1">
      <p>© 2019 Notification. All rights reserved | Design by <a href="http://facebook.com/ishivamshukl">Shukla</a></p>
    </div>
  </div>
</div>
<!-- //footer -->
