<!-- services -->
<div class="services">
  <div *ngIf="isCategorySelected; else notShow">
    <h3 class="heading-agileinfo">Select a category<span>The purpose of information and a variety of new ones </span>
    </h3>
    <div class="container">
      <div class="row" *ngIf="isCategorySelected; else notShow">
        <div class="col-md-3" *ngFor="let data of syllabus">
          <a (click)="displaySyllabus(data.category)">
            <div class="strip">
              <h4>{{data.category}}</h4>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>

  <ng-template #notShow>
    <div *ngFor="let data of selectedSyllabus">
      <h3 class="heading-agileinfo">{{data.category}}</h3>
      <div class="container">
        <div class="row">
          <a class="col-md-12" (click)="onNavigate(data.url)">
            <div class="strip">
              <h5 class="align">{{data.title}}</h5>
            </div>
          </a>
        </div>
      </div>
    </div>
  </ng-template>
</div>
<!-- //services -->