
<!-- banner -->
<div class="banner">
    <div class="container">
      <div class="carousel-caption">
        <h3>Notification <span>Education Knowledge</span></h3>
        <p>Any successful career starts with good Industrial. Together with us you will have deeper knowledge of the
          subjects</p>
        <div class="agileits-button top_ban_agile">
          <a class="btn btn-primary btn-lg" href="#">Read More »</a>
        </div>
      </div>
    </div>
  </div>
  <!--//banner -->
  <!-- about -->
  <div class="agile-about w3ls-section text-center" id="about">
    <div class="container">
      <h3 class="heading-agileinfo">Welcome To Education Knowledge<span> The purpose of information and a variety of new
          ones. </span></h3>
      <div class="agileits-about-grid">
        <p>• The purpose of information and a variety of new ones.
           • To keep the student updated all-time
           • For information on different types of exams.
           • To keep up to date with new government regulations al all times .</p>
      </div>
    </div>
  </div>
  <!-- //about -->
  <app-noticeboard></app-noticeboard>
  <!-- //about-bottom -->
  <app-service></app-service>