<div class="services">
  <h3 class="heading-agileinfo">About Us<span>The purpose of information and a variety of new ones </span></h3>
  <div class="container">
    <div class="row services-top-grids">
      <div class="col-md-12">
        <div class="grid1">
          <span class="fa fa-fire"></span>
          <h4>Announcement</h4>
          <p>The Department of Education (DoE), CTA is happy to announce Global Leadership Incubator (GLI) Scholarship
            to study an Undergraduate program in one of the ... </p>
        </div>
      </div>
    </div>

  </div>
</div>
<app-service></app-service>