<mat-card class="form-card">
        <mat-card-content>
            <h4 *ngIf="action != 'Delete'" mat-dialog-title>Please <strong>{{action}}</strong> the row.</h4>
            <form class="example-container" #targetForm="ngForm">
                <div mat-dialog-content *ngIf="action != 'Delete'; else elseTemplate">
                    <mat-form-field>
                        <mat-select [(ngModel)]="university.stateName" name="stateName"
                            placeholder="Notification Type">
                            <mat-option *ngFor="let state of states" [value]="state.value">
                                {{state.text}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput [(ngModel)]="university.universityName" name="universityName"
                            placeholder="universityName">
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput [(ngModel)]="university.url" name="url" placeholder="url">
                    </mat-form-field>
                </div>
                <div>
                    <ng-template #elseTemplate>
                        Are you sure to delete <b>{{university.universityName}}</b>?
                    </ng-template>
                </div>
                <div mat-dialog-actions>
                    &nbsp; <button mat-button (click)="doAction()" class="btn-primary btn">{{action}}</button> &nbsp;
                    <button mat-button (click)="closeDialog()" mat-flat-button class="btn-primary btn">Cancel</button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>