<!-- services -->
<div class="services">
    <h3 class="heading-agileinfo">What we do<span>The purpose of information and a variety of new ones </span></h3>
    <div class="container">
      <div class="row services-top-grids">
        <div class="col-md-4">
          <div class="grid1">
            <span class="fa fa-fire"></span>
            <h4>Announcement</h4>
            <p>The Department of Education (DoE), CTA is happy to announce Global Leadership Incubator (GLI) Scholarship
              to study an Undergraduate program in one of the ... </p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="grid1">
            <span class="fa fa-graduation-cap"></span>
            <h4>University</h4>
            <p>Central Institute of Education (CIE), now known also as the Department of Education of the University of
              Delhi, was perhaps the first major institute of ... </p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="grid1">
            <span class="fa fa-flask"></span>
            <h4>Syllabus</h4>
            <p>The page displays classes of Government clg of the DoE. The syllabus has been divided according to the
              Months and is available ... </p>
          </div>
        </div>
 
      </div>
      <div class="row services-bottom-grids">
        <div class="col-md-4">
          <div class="grid1">
            <span class="fa fa-bars"></span>
            <h4>Exam</h4>
            <p>EDUCATION EXAMS 2019-2020, DATES, APPLICATION FORM & ALERTS ... "IPU CET is a university-level entrance
              exam for admission to UG & PG courses in ... </p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="grid1">
            <span class="fa fa-bar-chart"></span>
            <h4>Result</h4>
            <p>Gateway to Exam Results in India. Notifications. Welcome to results gateway; Get all academic and entrance
              exams results here . </p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="grid1">
            <span class="fa fa-industry"></span>
            <h4>Course</h4>
            <p>Get the list of all courses offered by various Indian Universities and colleges including Engineering,
              Medicine, B-School, Law, ... Information Technology. </p>
          </div>
        </div>
 
      </div>
    </div>
  </div>
  <!-- //services -->